@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(0.99 0 0);
  --foreground: oklch(0.35 0.02 165.48);
  --card: oklch(1.00 0 0);
  --card-foreground: oklch(0.35 0.02 165.48);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.35 0.02 165.48);
  --primary: oklch(0.66 0.15 156.38);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.90 0.02 238.66);
  --secondary-foreground: oklch(0.20 0.02 266.02);
  --muted: oklch(0.90 0.02 240.73);
  --muted-foreground: oklch(0.50 0.03 268.53);
  --accent: oklch(0.90 0.02 240.73);
  --accent-foreground: oklch(0.35 0.02 165.48);
  --destructive: oklch(0.61 0.24 20.96);
  --border: oklch(0.94 0.01 238.46);
  --input: oklch(0.85 0.02 240.75);
  --ring: oklch(0.72 0.14 158.61);
  --chart-1: oklch(0.64 0.20 286.86);
  --chart-2: oklch(0.50 0.10 270.06);
  --chart-3: oklch(0.72 0.12 201.79);
  --chart-4: oklch(0.80 0.10 100.65);
  --chart-5: oklch(0.72 0.23 143.87);
  --sidebar: oklch(0.98 0.01 238.45);
  --sidebar-foreground: oklch(0.35 0.02 165.48);
  --sidebar-primary: oklch(0.90 0.21 140.39);
  --sidebar-primary-foreground: oklch(0.98 0.01 238.45);
  --sidebar-accent: oklch(0.90 0.02 240.73);
  --sidebar-accent-foreground: oklch(0.35 0.02 165.48);
  --sidebar-border: oklch(0.85 0.02 240.75);
  --sidebar-ring: oklch(0.90 0.21 140.39);

  --font-sans: Poppins, sans-serif;
  --font-serif: "Geist", "Geist Fallback", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Roboto Mono, Geist Mono, Geist Mono Fallback, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --radius: 0.7rem;
  
  --shadow-2xs: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.10);
  --shadow-xs: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.10);
  --shadow-sm: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.21), 0px 1px 2px -1px oklch(0.35 0.05 163.02 / 0.21);
  --shadow: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.21), 0px 1px 2px -1px oklch(0.35 0.05 163.02 / 0.21);
  --shadow-md: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.21), 0px 2px 4px -1px oklch(0.35 0.05 163.02 / 0.21);
  --shadow-lg: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.21), 0px 4px 6px -1px oklch(0.35 0.05 163.02 / 0.21);
  --shadow-xl: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.21), 0px 8px 10px -1px oklch(0.35 0.05 163.02 / 0.21);
  --shadow-2xl: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.53);
  
  --spacing: 0.26rem;
}

.dark {
  --background: oklch(0.17 0 0);
  --foreground: oklch(0.95 0.01 238.46);
  --card: oklch(0.20 0.02 266.02);
  --card-foreground: oklch(0.95 0.01 238.46);
  --popover: oklch(0.20 0.02 266.02);
  --popover-foreground: oklch(0.95 0.01 238.46);
  --primary: oklch(0.66 0.15 156.38);
  --primary-foreground: oklch(0.18 0 0);
  --secondary: oklch(0.30 0.03 271.05);
  --secondary-foreground: oklch(0.95 0.01 238.46);
  --muted: oklch(0.30 0.03 271.05);
  --muted-foreground: oklch(0.60 0.03 269.46);
  --accent: oklch(0.30 0.03 271.05);
  --accent-foreground: oklch(0.95 0.01 238.46);
  --destructive: oklch(0.64 0.25 19.69);
  --border: oklch(0.95 0.01 238.46 / 15%);
  --input: oklch(0.95 0.01 238.46 / 20%);
  --ring: oklch(0.72 0.14 158.61);
  --chart-1: oklch(0.64 0.20 286.86);
  --chart-2: oklch(0.60 0.10 269.83);
  --chart-3: oklch(0.72 0.12 201.79);
  --chart-4: oklch(0.80 0.10 100.65);
  --chart-5: oklch(0.60 0.15 300.14);
  --sidebar: oklch(0.20 0.02 266.02);
  --sidebar-foreground: oklch(0.95 0.01 238.46);
  --sidebar-primary: oklch(0.78 0.26 141.72);
  --sidebar-primary-foreground: oklch(0.15 0.02 269.18);
  --sidebar-accent: oklch(0.30 0.03 271.05);
  --sidebar-accent-foreground: oklch(0.95 0.01 238.46);
  --sidebar-border: oklch(0.95 0.01 238.46 / 15%);
  --sidebar-ring: oklch(0.78 0.26 141.72);
  
  --shadow-2xs: 0px 1px 2px 0px oklch(0 0 0 / 0.01);
  --shadow-xs: 0px 1px 2px 0px oklch(0 0 0 / 0.01);
  --shadow-sm: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow-md: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 2px 4px -1px oklch(0 0 0 / 0.01);
  --shadow-lg: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 4px 6px -1px oklch(0 0 0 / 0.01);
  --shadow-xl: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 8px 10px -1px oklch(0 0 0 / 0.01);
  --shadow-2xl: 0px 1px 2px 0px oklch(0 0 0 / 0.03);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;
}


@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
 
@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
 
@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}


.gradient {
  height: fit-content;
  z-index: -10;
  max-width: 940px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 52% 99%, rgba(34, 197, 94, 0.9) 0px, transparent 50%),
    radial-gradient(at 10% 29%, rgba(74, 222, 128, 0.9) 0px, transparent 50%),
    radial-gradient(at 97% 96%, rgba(110, 231, 183, 0.9) 0px, transparent 50%),
    radial-gradient(at 33% 50%, rgba(16, 185, 129, 0.9) 0px, transparent 50%),
    radial-gradient(at 79% 53%, rgba(132, 204, 22, 0.9) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  opacity: 0.3;
  overflow: hidden;
} 
 